* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body{
  background: cornflowerblue;
}
.chartMenu {
  width: 100vw;
  height: 80px;
  background: #1A1A1A;
  color: lightblue;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}
.chartMenu p {
  padding: 10px;
  font-size: 20px;
}
.chartCard {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chartBox {
  width: 40%;
  padding: 20px;
  border-radius: 20px;
  border: solid 3px black;
  background-color: rgb(224, 255, 255);
}